<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<ngb-panel title="{{ticket.from}} ({{ticket.departure}}) - {{ticket.to}} ({{ticket.arrival}})">
		<ng-template ngbPanelContent>
			<div class="row">
                <div class="col-8">
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Train number</th>
                            <td>{{ticket.number}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Price</th>
                            <td>{{ticket.price}}</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">Name</th>
                            <td>{{ticket.name}}</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">Birth date</th>
                            <td>{{ticket.birthDate}}</td>
                            
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col-4">
                    <img src="/assets/images/qr.png" width="80%">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger" (click)="cancelClicked(ticket)">Cancel</button>
                </div>
            </div>
		</ng-template>
	</ngb-panel>
    </ngb-accordion>
